/** Fuentes **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

/** Root **/
:root {
  --font: "Poppins", sans-serif;
  --color-pri: #374048;
  --color-sec: #8a9095;
  --color-ter: #c3cbd1;
  --color-border: #e9eef2;
  --color-blue: #0084ff;
  --color-blue-light: #99ceff;
  --color-gray: #969da3;
  --color-white: #f8fbfd;
  --color-orange: #ff6622;
  --color-hover: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background-color: white;
  width: 100%;
  /* margin: 0 auto; */
  /* overflow-x: hidden; */
}

/** Header **/
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-image: url("./../assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px auto;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text_container h2 {
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--color-pri);
  text-align: center;
}

.copy_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 780px;
  margin: 0 auto;
}

.copy_container p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: var(--color-sec);
  text-align: center;
  margin: 0 auto 40px;
  padding: 0 15px;
}

.cta_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 120px;
}

.btn {
  width: 230px;
  height: 60px;
  background-color: var(--color-blue);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 15px;
}

.btn-sec {
  background-color: var(--color-orange);
  margin-bottom: 45%;
}

.btn:hover {
  background-color: var(--color-hover);
}

/** Demos **/
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  background-color: white;
  margin: 80px auto;
}

.main_header {
  margin-bottom: 50px;
  text-align: center;
}

.main_header h2 {
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 29px;
  padding-top: 5px;
  margin-bottom: 15px;
  color: var(--color-pri);
  text-transform: uppercase;
  margin: 80px 0 25px;
}

.main_header p {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto 20px;
}

.main_header::after {
  content: "";
  display: block;
  width: 82px;
  height: 6px;
  background-color: var(--color-border);
  margin: 0 auto;
}

.cards_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  /* height: 400px; */
  background-color: white;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  margin: 0 0 80px;
  transition: all 0.5s ease-in-out;
}

.card a {
  text-decoration: none;
  color: var(--color-blue);
}

.card a img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.card a h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  margin: 20px auto 10px;
  text-align: center;
}

/** Footer **/
.footer__container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px auto 0;
  padding: 0 15px;
  background-color: var(--color-white);
  text-align: center;
}

.footer_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 338px;
  height: 128px;
  padding: 43px 0 36px;
}

.footer_link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: var(--color-blue-light);
  color: var(--color-white);
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

/** Pseudo Class for Animations **/
[element-inView] {
  opacity: 0;
}

[element-inView]:nth-child(1) {
  transition: all 0.4s ease-in-out;
}

[element-inView]:nth-child(2) {
  transition: all 0.6s ease-in-out;
}

[element-inView]:nth-child(3) {
  transition: all 0.8s ease-in-out;
}

[element-inView]:nth-child(4) {
  transition: all 1s ease-in-out;
}

[element-inView]:nth-child(5) {
  transition: all 1.2s ease-in-out;
}

[element-inView]:nth-child(6) {
  transition: all 1.4s ease-in-out;
}

[element-inView="fadeInUp"] {
  transform: translate3d(-25%, 100%, 0);
}

[element-inView="fadeInUp"].is-inViewport {
  opacity: 1;
  transform: none;
}

[element-inView="fadeIn"] {
  opacity: 1;
}

[element-inView="fadeIn"].is-inViewport {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.footer_link:hover {
  background-color: var(--color-hover);
}

.footer_link i {
  font-size: 20px;
  line-height: 38px;
}

.footer_sep {
  width: 90%;
  max-width: 1200px;
  height: 1px;
  background-color: var(--color-border);
}

/** Small Screens **/
@media screen and (min-width: 460px) {
  .btn-sec {
    margin-bottom: 15px;
  }

  .main__container {
    margin: 0 auto;
  }

  .card {
    max-width: 390px;
  }

  .footer_links {
    max-width: 363px;
  }

  .footer_link {
    width: 48px;
    height: 48px;
    border-radius: 100%;
  }

  .footer_link i {
    font-size: 24px;
    line-height: 46px;
  }
}

/** Medium Screens **/
@media screen and (min-width: 768px) {
  .text_container h2 {
    margin-bottom: 20px;
  }

  .copy_container p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }

  .main__container {
    width: 750px;
    min-width: 768px;
  }

  .main_header {
    width: 100%;
  }

  .main_header h2 {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .main_header p {
    max-width: 710px;
    font-size: 20px;
    margin: 0 20px 20px;
  }
}

/** Large Screens **/
@media screen and (min-width: 992px) {
  .text_container h2 {
    font-size: 68px;
  }

  .copy_container p {
    font-size: 24px;
    margin: 0 80px;
    line-height: 36px;
  }

  .cta_container {
    min-height: 144px;
  }

  .btn {
    width: 316px;
    height: 72px;
    border-radius: 36px;
    font-size: 24px;
    line-height: 72px;
    margin-bottom: 77px;
  }

  .main__container {
    width: 970px;
  }

  .main_header p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .cards_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 33.33333%;
    max-width: 31.3%;
  }
}

/** Extra Large Screens **/
@media screen and (min-width: 1200px) {
  .text_container h2 {
    font-size: 79px;
  }

  .copy_container p {
    font-size: 27px;
    margin: 0 auto;
  }

  .main__container {
    width: 80%;
    max-width: 1170px;
  }

  .cards_grid {
    justify-content: space-between;
    width: 100%;
  }

  .card {
    width: 33.333333%;
    max-width: 31.3%;
  }
}

@media screen and (min-width: 1201px) {
  .main__container {
    max-width: 100%;
  }

  .card {
    max-width: 33%;
  }
}
