/** Fuentes **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

/** Root **/
:root {
  --font: "Poppins", sans-serif;
  --color-pri: #374048;
  --color-sec: #8a9095;
  --color-ter: #c3cbd1;
  --color-blue: #0084ff;
  --color-blue-light: #99ceff;
  --color-hover: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: #f5f5f5;
}
